<h6>Dashboard</h6>
<h3>Welcome <%-name%></h3>
<p>Here are your stories</p>


<% if(stories.lenght !== 0){ %>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% stories.forEach(story => {%>
                <tr>
                    <td><a href="/stories/<%= story._id %>"></a><%= story.title%></td>
                    <td><%=  moment(story.createdAt).format('MMMM Do YYYY, h:mm:ss a')  %></td>
                    <td><span class="dash-status"><%= story.status %></span></td>
                    <td></td>
                </tr>    
            <%})%>
        </tbody>
    </table>
<% } else { %>
    <p>You have not created my stories</p>
<% } %>